// Add error message under origin input field
$origin = $('[name="search[origin]"]');
$origin_error = $('<span> <%= @search.errors.messages[:origin][0] %> </span>');
$origin_error.addClass("error");
$origin_error.insertAfter($origin)
             .delay(2000)
             .fadeOut(500, $(this).remove);

// Add error message under destination input field
$destination = $('[name="search[destination]"]');
$destination_error = $('<span> <%= @search.errors.messages[:destination][0] %> </span>');
$destination_error.addClass("error");
$destination_error.insertAfter($destination)
                  .delay(2000)
                  .fadeOut(500, $(this).remove);


// Add flash message
$("#flash-messages").html("<%= escape_javascript(render partial: 'shared/flash') %>")
                    .hide()
                    .fadeIn(500);
<% flash.clear %>