<table class="table-striped">
  <thead>
    <tr>
      <td>Origin</td>
      <td>Destination</td>
      <td>Agency</td>
      <td>Departure Time</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>