// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.float_center {
  float: right;

  position: relative;
  left: -50%; /* or right 50% */
  text-align: left;
}

.float_center > .child {
  position: relative;
  left: 50%;
}

#flash-messages {
  font-size: 1.5em;
  background-color: #66FF99;
  border-radius: 5px;
  margin-top: 5px;
}

.form-control {
  margin-top: 5px;
  margin-bottom: 5px;
}

span.error {
  background-color: #FF9999;
  border-radius: 3px;
}